{% extends 'base.html'%}
{% block content %}
<br><br><br><br>
<h1 class="text-center"><em>TOP-HEADLINE NEWS!!</em></h1>
        
<div style="display: flex; flex-wrap: wrap; padding-bottom: 50px;">
        
</div>
        <div class="container w-50">
            <div class="row">
                <div class="column">
              {% for article in articles %}
        <div class="card border border-primary">
              <div class="card">
                <img class="card img-fluid" src="{{article.urlToImage}}" alt="Top headline image">
                <div class="card-body">
                  <h5 class="card-title">{{article.title}}</h5>
                  <p class="card-text">{{article.description}}</p>
                  <a href="{{article.url}}">
                    <p class="card-text"><button type="button" class="btn btn-outline-warning">More info</button></p>
                  </a>
                </div>
                <div class="card-footer">
                  <small>Published:{{ article.publishedAt}}}</small>
                </div>
              </div>
              </div>
              {% endfor %}
            </div>
        </div>
        </div>
{% endblock%}