<nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><b>S-CLASS NEWS</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="https://www.aljazeera.com/"><button type="button" class="btn btn-outline-primary">ALJAZEERA</button></a>
          <a class="nav-link" href="https://www.bbc.com/news"> <button type="button" class="btn btn-outline-primary">BBC</button></a>
          <a class="nav-link" href="http://www.bloomberg.com/"><button type="button" class="btn btn-outline-primary">BLOOMBERG</button></a>
          <a class="nav-link" href="http://www.cbsnews.com/"><button type="button" class="btn btn-outline-primary">CBSNEWS</button></a>
          <a class="nav-link" href="https://edition.cnn.com/"><button type="button" class="btn btn-outline-primary">CNN</button></a>
          <a class="nav-link" href="http://www.foxsports.com/"><button type="button" class="btn btn-outline-primary">FOXSPORTS</button></a>
          <a class="nav-link" href="http://www.msnbc.com/"><button type="button" class="btn btn-outline-primary">MSNBC</button></a>
          <a class="nav-link" href="http://www.mtv.com/news/"><button type="button" class="btn btn-outline-primary">MTV NEWS</button></a>
          <a class="nav-link" href="http://www.nbcnews.com"><button type="button" class="btn btn-outline-primary">NBCNEWS</button></a>
        
          
        </div>
      </div>
    </div>
  </nav>