nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="/">NEWS Articles</a>
      <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav text-white">
          <a class="nav-link active text-white" aria-current="page" href="/sources">Sources</a>
          <a class="nav-link text-white" href="https://www.bbc.com/news">BBC</a>
          <a class="nav-link text-white" href="https://edition.cnn.com/">CNN</a>
          <a class="nav-link  text-white" href="https://www.aljazeera.com/">ALJAZEERA</a>
        </div>
      </div>
    </div>
  </nav>